<main class="container">
    <div class="row">
        <div class="col-md-12">
            <a routerLink="/user/add" class="btn btn-primary">addUser</a>
            <form [formGroup]="fgroup" (ngSubmit)="onsubmit()">
                <div class="form-group">
                    <label for="cant">Cantidad: </label>
                    <input type="number" name="cant" id="cant" class="form-control" formControlName="cantidad">
                </div>
                <div class="form-group">
                    <input type="submit" value="mostrar" class="btn btn-primary">
                </div>
            </form>
        </div>
        <app-userview [datapagelen]="datapagelen"></app-userview>
    </div>
</main>