<main class="container">
    <form [formGroup]="fgroup" (ngSubmit)="onsubmit()">
        <div class="form-group row">
            <label for="name" class="col-md-3 col-form-label">Nombre: </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="name" id="name" formControlName="name">
            </div>
        </div>
        <div class="form-group row">
            <label for="username" class="col-md-3 col-form-label">Username: </label>
            <div class="col-md-9">
                <input type="text" name="username" id="username" class="form-control" formControlName="username">
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-md-3 col-form-label">Email: </label>
            <div class="col-md-9">
                <input type="email" name="email" id="email" class="form-control" formControlName="email">
            </div>
        </div>
        <div class="form-group row">
            <label for="password" class="col-md-3 col-form-label">Contraseña: </label>
            <div class="col-md-9">
                <input type="password" name="password" id="password" class="form-control" formControlName="password">
            </div>
        </div>
        <div class="from-group row">
            <div class="col-md-12">
                <input type="submit" value="enviar" class="btn btn-primary">
                <span>{{this.message}}</span>
            </div>
        </div>
    </form>
</main>